@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {

  /********************************************************************************/
  /************************************ COLORS ************************************/
  /********************************************************************************/
  .text-slate-450 {
    color: #8D9CAE;
  }
  
  .text-slate-475 {
    color: #687387;
  }

  .text-gray-450 {
    color: #8594AA;
  }

  .text-blue-950 {
    color: #1D2839;
  }

  /********************************************************************************/
  /*********************************** FONT SIZE **********************************/
  /********************************************************************************/
  .text-sm-intermediate {
    font-size: 15px;
  }

  .text-4xl-intermediate {
    font-size: 2.5em;
  }
  
  /********************************************************************************/
  /******************************** LETTER SPACING ********************************/
  /********************************************************************************/
  .tracking-tightish {
    letter-spacing: -0.24px;
  }

  .tracking-widestish {
    letter-spacing: 0.019em;
  }

  /********************************************************************************/
  /********************************** LINE HEIGHT *********************************/
  /********************************************************************************/
  .leading-4-05 {
    line-height: 18px;
  }
  
  /********************************************************************************/
  /********************************* BORDER COLOR *********************************/
  /********************************************************************************/
  .border-gray-150 {
    border: #E6E8EC
  }

  .border-slate-175 {
    border-color: #E3E5E9;
  }

  /********************************************************************************/
  /*********************************** PADDING ************************************/
  /********************************************************************************/
  .pb-7-5 {
    padding-bottom: 1.875em;
  }

  /********************************************************************************/
  /*********************************** MAX WIDTH **********************************/
  /********************************************************************************/
  .max-w-xxs {
    max-width: 11em;
  }
}
