@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {

  /********************************************************************************/
  /************************************ COLORS ************************************/
  /********************************************************************************/
  .text-slate-350 {
    color: #D8DEEA;
  }

  .text-slate-450 {
    color: #8D9CAE;
  }
  
  .text-slate-475 {
    color: #687387;
  }

  .text-slate-650 {
    color: #404F5E;
  }

  .text-gray-450 {
    color: #8594AA;
  }

  .text-blue-950 {
    color: #1D2839;
  }

  .text-red-650 {
    color: #D72C0D;
  }

  /********************************************************************************/
  /*********************************** FONT SIZE **********************************/
  /********************************************************************************/
  .text-sm-intermediate {
    font-size: 15px;
  }

  .text-4xl-intermediate {
    font-size: 2.5em;
  }

  /********************************************************************************/
  /******************************** LETTER SPACING ********************************/
  /********************************************************************************/
  .tracking-widestish {
    letter-spacing: 0.019em;
  }

  /********************************************************************************/
  /********************************** LINE HEIGHT *********************************/
  /********************************************************************************/
  .leading-3-05 {
    line-height: 14px;
  }

  .leading-4-05 {
    line-height: 17px;
  }

  .leading-4-06 {
    line-height: 18px;
  }

  .leading-4-07 {
    line-height: 19px;
  }
  
  /********************************************************************************/
  /********************************* BORDER COLOR *********************************/
  /********************************************************************************/
  .border-gray-150 {
    border-color: #E6E8EC
  }

  .border-slate-175 {
    border-color: #E3E5E9;
  }

  .border-red-550 {
    border-color: #DC462A;
  }

  /********************************************************************************/
  /*********************************** PADDING ************************************/
  /********************************************************************************/
  .pb-7-5 {
    padding-bottom: 1.875em;
  }

  /********************************************************************************/
  /*********************************** MAX WIDTH **********************************/
  /********************************************************************************/
  .max-w-xxxs {
    max-width: 11em;
  }

  .max-w-xxs {
    max-width: 16.875em;
  }

  .max-w-1xxs {
    max-width: 16.250em;
  }

  .max-w-05xs {
    max-width: 18.750em;
  }

  .max-w-1xl {
    max-width: 38em;
  }

  /********************************************************************************/
  /******************************** BACKGROUND COLOR ******************************/
  /********************************************************************************/
  .bg-indigo-550 {
    background-color: #506CF0;
  }

  .bg-red-25 {
    background-color: #FFF4F4;
  }

  .bg-custom-100 {
    background-color: #F6F9FA;
  }

  /********************************************************************************/
  /************************************* MARGIN ***********************************/
  /********************************************************************************/
  .mt-4-05 {
    margin-top: 1.125em;
  }

  .mt-5-05 {
    margin-top: 1.375em;
  }

  .mt-7-05 {
    margin-top: 1.875em;
  }

  .mt-10-05 {
    margin-top: 2.625em;
  }

  .mt-11-05 {
    margin-top: 2.813em;
  }

  /********************************************************************************/
  /************************************* HEIGHT ***********************************/
  /********************************************************************************/
  .h-75 {
    height: 300px;
  }
}
