@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .text-slate-450 {
    color: #8D9CAE;
  }
  
  .grey-shade-2 {
    color: #687387;
  }

  .text-gray-450 {
    color: #8594AA;
  }

  .text-blue-950 {
    color: #1D2839;
  }
  
  .tightish {
    letter-spacing: -0.24px;
  }
  
  .text-sm-intermediate {
    font-size: 15px;
  }
  
  .leading-4-05 {
    line-height: 18px;
  }
  
  .border-gray-150 {
    border: 1px solid #E6E8EC
  }

  .border-slate-175 {
    border-color: #E3E5E9;
  }

  .pb-7-5 {
    padding-bottom: 1.875em;
  }

  .max-w-xxs {
    max-width: 11em;
  }
}
